@model List<Movie>
@*
    @model accueil le SEUL ET UNIQUE objet que la vue peut accepter
    et J'y accède dans la vue grâce à Model
*@
<fieldset>
    <legend>Tout mes films</legend>
    <table class="table table-bordered table-striped tablegreen">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        @foreach (Movie m in Model)
        {
            <tr>
                <td>@m.Title</td>
                <td>
                    <a class="btn btn-outline-dark"
                        asp-controller="Movie"
                        asp-action="Details"
                        asp-route-id="@m.Id"
                    >
                        Détails
                    </a>
                    <a class="btn btn-outline-dark"
                       asp-controller="Movie"
                       asp-action="Edit"
                       asp-route-id="@m.Id">
                        Modifier
                    </a>
                    <a class="btn btn-outline-dark"
                       asp-controller="Movie"
                       asp-action="Delete"
                       asp-route-id="@m.Id">
                        Supprimer
                    </a>
                </td>
            </tr>

        }

    </table>
</fieldset>

<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" checked="" autocomplete="off">
    <label class="btn btn-primary" for="btncheck1">Toto</label>
    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-primary" for="btncheck2">Fait</label>
    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
    <label class="btn btn-primary" for="btncheck3">Du Velo</label>
</div>