<h1>
    Toto fait du vélo
</h1>
<p>
    Faut vraiment que vous arretiez de parler avec des gens
</p>
<img src=""
<a class="btn btn-outline-success"
    asp-controller="Home" asp-action="Index"
>Click ici</a>
